.store-listing-card {
    -moz-box-shadow:    3px 3px 5px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.6);
    box-shadow:         3px 3px 5px 6px rgba(0,0,0,0.6);
}
.store-listing-card::hover {
    background-color: '#eff7f6'
}